
<h1 class="welcom_caption">ようこそ Bookersへ！</h1>
<body>
  <section class="site_explanation">
    <p><b>Bookers </b>では，様々な書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>
  </section>
  <p><a href = "/books">start</a></p>
</body>

